.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav{
  padding:25px;
  display: 'flex';
  column-Gap:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bottom{
  background-color: #e6e6e6;
 display: block; 
}
.footertext{
  color: #929292;
    font-size: 13px;
    margin-top: -14px;
    font-weight: 300;
    line-height: 1.8;
}
.text{
  text-decoration: none;
  margin: 0 0 18px;

}
.text .img{border:0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  max-width: 160px;
}
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.line{
  display: block;
  color: red;
  text-align: center;
  width: 100%;
  height:1px;
  padding: 6px;
}
/* //header section */
.logo{
  flex: 0 0 180px;
    max-width: 180px;
}
.headerdetail{
  display: flex;
  text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

/* //register  */
.title{
  margin-top: 60px;
  font-size: 32px;
  font-family: "Roboto";
  color: #414141;
  font-weight: 700;
}

.title::after{
  left: 50%;
  width: 165px;
  /* bottom: 0; */
  height: 2px;
  content: '';
  position: absolute;
  transform: translateX(-50%);
  background-color: #f14d54;
  margin-top: 25px;
}

.personal_info{
    margin-left: 90px;
    margin-top: 75px;
    font-size: 20px;
    color: #414141;
    font-weight: 600;
    font-family: "Roboto";
    border-bottom: 0.1px solid;
    padding-bottom: 20px;
}

.sentence{
  margin-left: 90px;
  font-size: 15px;
  font-family: "Roboto-light";
  color:#838383;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textDesign{
  color: #414141;
  font-size: 15px;
  font-family: "Roboto";
}

.textDesign2{
  color: #414141;
  font-size: 15px;
  font-family: "Roboto";
  position: absolute;
  padding-left: 162px;
}

.loginInfo{
  padding-left: 90px;
    padding-top: 70px;
    padding-bottom: 20px;
  font-size: 20px;
    color: #414141;
 
    font-weight: 600;
    font-family: "Roboto";
    border-bottom: 0.1px solid;
    
}
.register{
  padding-left: 90px;
    padding-top: 60px;
    width: 136px;
    height: 45px;
    color: #f14d54;
}

.RegCustomer{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  color: #414141;
}

.RegCustomer::after{
  left: 1091px;
  width: 600px;
  /* bottom: 0; */
  height: 2px;
  content: '';
  position: absolute;
  transform: translateX(-50%);
  background-color: #e5e5e5;
  margin-top: 45px;
}
.home{
  color: #414141;
  font-family: 'Roboto';
}

.newCustomer{
  /* padding-left: 90px;
  padding-top: 50px; */
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  color: #414141;
}

.newCustomer::after{
  left: 390px;
  width: 600px;
  /* bottom: 0; */
  height: 2px;
  content: '';
  position: absolute;
  transform: translateX(-50%);
  background-color: #e5e5e5;
  margin-top: 45px;

}